<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnu.ict.ids.mapper.OrderInfoMapper">
    <select id="findNotTrave" resultType="com.hnu.ict.ids.entity.OrderInfo">
        select * from order_info
        where
              travel_id is null
          and start_time <![CDATA[ >= ]]> #{statDate}
          and start_time <![CDATA[ <= ]]> #{endDate}
    </select>


    <select id="findOrderTravelId" resultType="com.hnu.ict.ids.entity.OrderInfo">
        select * from order_info where travel_id =#{id}
    </select>
</mapper>