<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnu.ict.ids.mapper.TravelInfoMapper">
    <insert id="addTravelInfo">
        insert into travel_info(
            source_travel_id,
            begin_station_id,
            end_station_id,
            travel_status,
            start_time,
            distance,
            expected_time,
            all_travel_plat,
            driver_content,
            car_id,
            driver_id,
            create_time,
            travel_id,
            it_number,
            begin_station_name,
            end_station_name,
            park_id,
            park_name,
            warning,
            correspond_order_number,
            c_code,
            arrive_time
            ) VALUES
        <foreach collection="persons" item="person" separator=",">
            (#{person.sourceTravelId},
             #{person.beginStationId},
             #{person.endStationId},
             #{person.travelStatus},
             #{person.startTime},
             #{person.distance},
             #{person.expectedTime},
             #{person.allTravelPlat},
             #{person.driverContent},
             #{person.carId},
             #{person.driverId},
             #{person.createTime},
             #{person.travelId},
             #{person.itNumber},
             #{person.beginStationName},
             #{person.endStationName},
             #{person.parkId},
             #{person.parkName},
             #{person.warning},
             #{person.correspondOrderNumber},
             #{person.CCode},
             #{person.arriveTime})
        </foreach>
    </insert>
<!--

    <select id="getTraveTrendToDay"   parameterType="com.hnu.ict.ids.bean.TraveTrendBean">
        SELECT DATE_FORMAT(start_time, '%Y-%m-%d %H:00:00') AS dateTime, COUNT(*) AS total
        FROM travel_info
        WHERE c_code=#{cityCode}
        GROUP BY dateTime
        ORDER BY dateTime;
    </select>
-->


</mapper>